.search-panel {
  margin-top: 30px;
  padding: 25px;
  background-color: whitesmoke;
  border-radius: 3px;
  color: black;
  
  input {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    border: none;
    &:focus {
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }
  }
}